/*******************************************************************************
 *
 * Secciones
 *
 ******************************************************************************/
.evot-seccion {
    padding: 54px 0px;
    background: none repeat scroll 0% 0% #333;
}
@media(max-width: 767px) {
    h1.section-title {
        font-size: 24px;
    }
}

/*******************************************************************************
 *
 * Ranking
 *
 ******************************************************************************/
table.evot-ranking {
    margin: auto;
    width: 50%;
}
table.evot-ranking td.evot-puesto{
    padding: 0px 25px;
    width: 1%;
    font-size: 5em;
}
table.evot-ranking td.evot-puesto:before{
    content: "#";
    position: relative;
    z-index: 1;
    font-size: 0.5em;
    margin-right: 15px;
    color: #FB0000;
}
table.evot-ranking td.evot-nombre {
    font-size: 1.8em;
}
table.evot-ranking td.evot-nombre a {
    color: white;
}

table.evot-ranking td.evot-votos {
    font-size: 3em;
    text-align: right;
}

table.evot-ranking td.evot-votos small {
    font-size: 0.5em;
    color: #999999;
}

.evot-ranking-usuario-actual{
    background:rgba(255,192,203, 0.2);
}

.evot-input-ranking{
    margin: auto;
    width: 50%;
    margin-bottom:20px;
}

.evot-buscador-ranking {
    margin-top: 20px;
    font-family: 'Open Sans';
}


/*******************************************************************************
 *
 * Usuario
 *
 ******************************************************************************/
.evot-link-ranking {
    color: white;
    font-family: 'Open Sans';
}

.evot-icon-ganador-check {
    position: absolute;
    float: right;
    color: #008000;
    left: 67%;
    top: 77.5%;
    border-radius: 50px;
    background-color: #FFF;
    padding: 6px;
    border: 7px solid green;
}
.evot-icon-ganador-cruz {
    position: absolute;
    float: right;
    color: #D11616;
    left: 70%;
    top: 78.5%;
    border-radius: 50px;
    background-color: white;
    padding: 5px 9px;
    border: 7px solid #D11616;
}

/*******************************************************************************
 *
 * Votos
 *
 ******************************************************************************/
div.evot-item {
    height: 420px;
    overflow-y: hidden;
}
.evot-categoria-info .heading {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    margin-bottom: 12px;
}
.evot-categoria-info .sub-heading {
    font-weight: normal;
    text-align: center;
    line-height: 24px;
    position:relative;
    margin-bottom: 12px;
    color: #bebebe;
}

.evot-categoria-info {
    margin-top: 10px;
    padding: 10px 0px 10px 0px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #333333;
    border-bottom: 2px solid #333333;
    width: 100%;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    min-height: 140px;
}

.evot-categoria-info:hover,
.evot-categoria-info.selected {
    /*border-color: #FB0000;*/
    border-color: #FFF;
    background-color: #1F88B9;
    cursor: pointer;
}

.evot-categoria-info .evot-imagen {
    margin-left: 15px;
    height: 100px;
    max-width: 100px;
}

@media(max-width: 767px) {
    .evot-categoria-info .evot-imagen {
        margin-left: 0;
    }
}

.evot-categoria-info .descripcion {
    font-size: 12px;
    text-align: center;
}

.owl-theme .owl-controls .owl-page.active span {
    background-color: red;
    opacity: 0.7;
}

/*******************************************************************************
 *
 * Actor
 *
 ******************************************************************************/
.evot-actor-foto {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    border: 5px solid #DDD;
    border-radius: 4px;
}

/*******************************************************************************
 *
 * Home
 *
 ******************************************************************************/

.owl-theme .owl-controls .evot-bullet-votado span{
    background: #1F88B9;
    opacity: 1;
}

#intro h1 {
    margin: 10px 0 50px;
}

@media (max-width: 750px) {
    .video-content {
        min-height: 540px;
    }
}

.media-btns .btn {
    margin-top: 30px;
}

a:hover,
a:focus {
    outline: 0;
    color: #fb0000;
}


/*******************************************************************************
 *
 * Forms
 *
 ******************************************************************************/
.evot-form .input-group .form-control {
    min-height: 52px;
    outline: medium none;
    border: 2px solid #333;
    border-right: none;
    color: #FFF;
    background: none repeat scroll 0% 0% #3C3C3C;
}
.evot-navbar,
.evot-navbar .evot-form .input-group .form-control {
    width: 270px;
}
.evot-form .input-group-addon {
    border: 2px solid #333;
    border-left: none;
    color: #FB0000;
    background: none repeat scroll 0% 0% #3C3C3C;
}



/*******************************************************************************
 *
 * Redes sociales
 *
 ******************************************************************************/
.evot-contenedor-votos .actor .social {
    margin-top: 0;
    text-align: right;
    margin-right: 12px;
}

.evot-contenedor-votos .actor .social .fa{
    text-align: center;
    width: 100%;
}

.evot-contenedor-votos .actor .social h4 {
    margin-right: 12px;
    font-size: 22px;
}

/*******************************************************************************
 *
 * Socials buttons
 *
 ******************************************************************************/
.social-buttons {
    margin: 0 auto;
    margin-left: 35%;
}
.evot-social-buttons li {
    text-align: center;
    padding: 0px 20px;
    list-style: none;
    margin: 30px 0px;
}

.evot-social-buttons a {
    color: #fff !important;
}

.evot-social-buttons li span {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    display:inline-block;
    padding-top: 25px;
    padding-bottom: 7px;
    border-bottom: 1px solid rgba(0,0,0,0);
}
.evot-social-buttons li .fa {
    display: inline-block;
    width: 100%;
    font-size: 48px;
}

